/* .custom-dropdown-toggle:focus {
    outline: none; 
    box-shadow: none;  
  }
   */
  .custom-dropdown-toggle {
    border: none; 
  }

  .dropdown-item:hover {
    background-color: rgba(0, 123, 255, 0.1); 
    color: #007bff;
  }
  
